<page-header></page-header>
<div *ngIf="currentState == 'ADD' || currentState == 'EDIT'">
  <app-addpeople
    [formMode]="currentState"
    [selectedId]="selected"
    (changeStateEvent)="changeState($event)"
  >
  </app-addpeople>
</div>

<mat-card *ngIf="currentState == 'RETRIEVE'">
  <mat-toolbar>
    <div
      matTooltip="{{ 'record_actions.add_new' | translate }} {{ 'domain.people' | translate }}"
      cdkDrag
      (cdkDragStarted)="handleDragStart($event)"
      *ngIf="currentState == 'RETRIEVE'"
    >
      <button mat-raised-button color="primary" (click)="openPanel($event)">
        {{ 'record_actions.add_new' | translate }}
      </button>
    </div>
  </mat-toolbar>
  <ng-data-table
    [id]="'people-list'"
    [title]="getTitle()"
    [items]="peopleList"
    [indexColumnTitle]="'#'"
    [indexColumnWidth]="30"
    [showIndexColumn]="true"
    [showHeader]="false"
    [showRowSelectCheckbox]="false"
    [showSubstituteRows]="false"
    [showColumnSelector]="false"
    [showRowSelectAllCheckbox]="true"
    [pageable]="true"
    [rowSelectable]="false"
    [selectOnRowClick]="true"
    [persistTableState]="true"
    [expandableRows]="false"
    [showLoadingSpinner]="true"
    [selectMode]="'single'"
    [DataTableStorageMode]="local"
    [persistTableState]="true"
    [translations]="getDataTableTranslations()"
    [minContentWidth]="800"
  >
    <ng-data-table-column [field]="'_id'" [title]="'ID'" [visible]="false"> </ng-data-table-column>

    <ng-data-table-column
      [field]="'idNumber'"
      [title]="translate.instant('domain.idNumber').toUpperCase()"
      [filterable]="true"
      [showDropdownFilter]="false"
      [filterPlaceholder]="translate.instant('record_actions.search')"
      [sortable]="true"
    >
    </ng-data-table-column>
    <ng-data-table-column
      [field]="'fullName'"
      [title]="translate.instant('domain.fullName').toUpperCase()"
      [filterable]="true"
      [showDropdownFilter]="false"
      [filterPlaceholder]="translate.instant('record_actions.search')"
      [sortable]="true"
    >
    </ng-data-table-column>

    <ng-data-table-column
      [field]="'genre'"
      [title]="translate.instant('domain.genre').toUpperCase()"
      [width]="150"
      [sortable]="true"
      [filterable]="true"
      [dropdownFilterMenuPosition]="'bottom-right'"
      [showDropdownFilter]="true"
      [dropDownFilterShowOptionSelectCheckbox]="true"
      [filterPlaceholder]="translate.instant('record_actions.search')"
    >
    </ng-data-table-column>

    <ng-data-table-column
      [field]="'isUser'"
      [title]="translate.instant('domain.isUser').toUpperCase()"
      [width]="150"
      [sortable]="true"
      [filterable]="true"
      [dropdownFilterMenuPosition]="'bottom-right'"
      [showDropdownFilter]="true"
      [dropDownFilterShowOptionSelectCheckbox]="true"
    >
      <ng-template #ngDataTableCell let-row="row">
        <td align="center">
          <mat-slide-toggle [checked]="row.item.isUser" [disabled]="true">
          </mat-slide-toggle>
        </td>
      </ng-template>
    </ng-data-table-column>

    <ng-data-table-column
      [field]="'isDriver'"
      [title]="translate.instant('domain.isDriver').toUpperCase()"
      [width]="150"
      [sortable]="true"
      [filterable]="true"
      [dropdownFilterMenuPosition]="'bottom-right'"
      [showDropdownFilter]="true"
      [dropDownFilterShowOptionSelectCheckbox]="true"
    >
      <ng-template #ngDataTableCell let-row="row">
        <td align="center">
          <mat-slide-toggle [checked]="row.item.isDriver" [disabled]="true">
          </mat-slide-toggle>
        </td>
      </ng-template>
    </ng-data-table-column>

    <ng-data-table-column [width]="100">
      <ng-template #ngDataTableCell let-row="row">
        <td align="center">
          <button
            mat-icon-button
            color="accent"
            (click)="edit(row.item)"
            matTooltip="{{ 'record_actions.edit' | translate }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            [disabled]="cantDelete(row.item)"
            color="warn"
            (click)="confirmDelete(row.item)"
            matTooltip="{{ 'record_actions.delete' | translate }}"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-template>
    </ng-data-table-column>

    <ng-template #ngDataTableNoRecords>
      <mat-icon>search_off</mat-icon>
      <h4>{{ 'notifications.nodata' | translate | uppercase }}</h4>
    </ng-template>
  </ng-data-table>
</mat-card>
