<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="630px" fxFlex.sm="420px" fxFlex.lt-sm="315px" fxFlexAlign="center">
    <mat-card>
      <mat-card-title class="mat-title" *ngIf="formMode == 'ADD'">
        {{ 'record_actions.add_new' | translate | titlecase }}:
        {{ 'domain.people' | translate | titlecase }}
      </mat-card-title>
      <mat-card-title class="mat-title" *ngIf="formMode == 'EDIT'">
        {{ 'record_actions.edit' | translate | titlecase }}:
        {{ 'domain.people' | translate | titlecase }}
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="personFormGroup">
          <mat-form-field>
            <input
              matInput
              placeholder="{{ 'domain.names' | translate | titlecase }}"
              formControlName="names"
              required
            />
            <mat-error *ngIf="personFormGroup.get('names').hasError('required')">
              {{ 'validations.required' | translate }}
            </mat-error>
            <mat-error *ngIf="personFormGroup.get('names').hasError('minlength')">
              {{ 'validations.minlength' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="{{ 'domain.lastnames' | translate | titlecase }}"
              formControlName="lastNames"
              required
            />
            <mat-error *ngIf="personFormGroup.get('lastNames').hasError('required')">
              {{ 'validations.required' | translate }}
            </mat-error>
            <mat-error *ngIf="personFormGroup.get('lastNames').hasError('minlength')">
              {{ 'validations.minlength' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select
              placeholder="{{ 'domain.idType' | translate | titlecase }}"
              formControlName="idType"
              required
            >
              <mat-option *ngFor="let item of idTypesList" [value]="item.id">
                {{ item.name | translate | titlecase }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="personFormGroup.get('idType').hasError('required')">
              {{ 'validations.required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field id="id-Number">
            <input
              matInput
              placeholder="{{ 'domain.idNumber' | translate | titlecase }}"
              formControlName="idNumber"
              required
            />
            <mat-error *ngIf="personFormGroup.get('idNumber').hasError('required')">
              {{ 'validations.required' | translate }}
            </mat-error>
            <mat-error *ngIf="personFormGroup.get('idNumber').hasError('minlength')">
              {{ 'validations.minlength' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select
              placeholder="{{ 'domain.genre' | translate | titlecase }}"
              formControlName="genre"
              required
            >
              <mat-option *ngFor="let g of genreList" [value]="g.id">
                {{ g.name | translate | titlecase }}
               
              </mat-option>
            </mat-select>

            <mat-error *ngIf="personFormGroup.get('genre').hasError('required')">
              
              {{ 'validations.required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="{{ 'domain.birthDate' | translate | titlecase }}"
              formControlName="birthDate"
              [matDatepicker]="birthdayPicker"
              [min]="minBirthday"
              [max]="maxBirthday"
            />
            <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdayPicker startView="day"></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="{{ 'domain.mobile' | translate | titlecase }}"
              formControlName="mobile"
              required
            />
            <mat-icon matSuffix>phone_android</mat-icon>
            <mat-error *ngIf="personFormGroup.get('mobile').hasError('required')">
              {{ 'validations.mobile' | translate }}
            </mat-error>
            <mat-error *ngIf="personFormGroup.get('mobile').hasError('minlength')">
              {{ 'validations.mobile' | translate }}
            </mat-error>
          </mat-form-field>

          <div>
            <mat-form-field floatLabel="always" appearance="none">
              <mat-label>{{ 'domain.isUser' | translate | titlecase }}</mat-label>
              <mat-slide-toggle formControlName="isUser" ></mat-slide-toggle>
              <textarea matInput hidden></textarea>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="none">
              <mat-label>{{ 'domain.isDriver' | translate | titlecase }}</mat-label>
              <mat-slide-toggle formControlName="isDriver" ></mat-slide-toggle>
              <textarea matInput hidden></textarea>
            </mat-form-field>
          </div>

          <div>
            <ngx-dropzone
              class="custom-dropzone"
              [accept]="'image/*'"
              [expandable]="false"
              [multiple]="false"
              [maxFileSize]="51200"
              (change)="onSelect($event)"
            >
              <ngx-dropzone-label>{{
                'domain.picture' | translate | titlecase
              }}</ngx-dropzone-label>

              <ngx-dropzone-image-preview
                *ngFor="let f of files"
                [removable]="true"
                (removed)="onRemove(f)"
                [file]="f"
              >
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions align="right">
        <button
          *ngIf="formMode == 'ADD'"
          mat-raised-button
          color="default"
          type="reset"
          (click)="onReset()"
        >
          {{ 'record_actions.reset' | translate | titlecase }}
        </button>
        <button mat-raised-button color="default" type="cancel" (click)="onCancel()">
          {{ 'record_actions.cancel' | translate | titlecase }}
        </button>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
          {{ 'record_actions.save' | translate | titlecase }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
