<mat-card class="person-card f-s-12 f-w-500">
  <mat-card-header>
    <img mat-card-avatar src="{{ baseURL }}person/picture/{{ person.picture }}" />
    <mat-card-title>{{ person.names }} {{ person.lastNames }}</mat-card-title>
    <mat-card-subtitle>{{ person.idNumber }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!--         <div>
            <b>Picture Src: </b>{{baseURL}} 
         </div> -->
    <div><b>Movil: </b>{{ person.mobile }}</div>
  </mat-card-content>
</mat-card>
