ngx-dropzone,
.custom-dropzone {
  margin: 10px;
}

.custom-dropzone {
	height: 160px;
    width: 160px;
	background: rgb(254, 255, 249);
	color: rgb(223, 222, 193);
	border: 3px dashed rgb(255, 255, 255);
	border-radius: 5px;
	font-size: 10px;
}

.custom-dropzone.ngx-dz-hovered {
  border: 3px solid rgb(235, 79, 79);
}